<% layout("./layouts/boilerplate.ejs") -%>
<div class="results-movies-container div-container mt-3 mb-5">
    <p class="d-inline-flex gap-1">
        <a class="btn btn-primary btn-letest" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
          Results
        </a>
    </p>
    <div class=" row-cols-2 row-cols-md-4 row-cols-lg-6 row g-4">
        <% for(let film of results){ %>
            <a href="/<%=film.url%>" class="film-link">
                <div class="card col">
                    <img src="<%= film.filmPoster %>" class="card-img-top" alt="Download <%=film.originalTitle%> movie poster" style="height: 15rem;">
                    <div class="card-body card-img-overlay">
                        <p class="card-title">
                            <%= film.originalTitle %>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>
<%- include("./trending.ejs") -%>